---
layout: landing
title: "Trà Hoa Bình Chi | Thanh Mát - Giải Độc - Giảm Mỡ Máu"
meta-title: "Trà Hoa Bình Chi | Thanh Mát - Giải Độc - Giảm Mỡ Máu"
description: "Trà hoa không dừng lại ở việc là một thức uống thường nhật, đó còn là một loại thực phẩm hỗ trợ rất tốt trong việc thanh lọc cơ thể, giảm mỡ máu và đặc biệt là ngăn ngừa ung thư ... mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
meta-description: "Trà hoa có tác dụng thanh nhiệt cơ thể, giải độc gan, hạ mỡ máu, ngăn ngừa sự hình thành của tế bào ung thư và phòng tránh tiểu đường ... đem đến một sự thư thái, an nhiên cho người dùng, mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
redirect_from:
    - /index.php/
---

        <!-- WELCOME -->
        <div class="container">
            <div class="heading heading-center m-b-40" data-animation="fadeInUp" style="padding-top: 2em;">
                <h1 style="font-family: pacifico; color: #fd5f2d">Trà Hoa</h1>
                <h2>Hương Vị Từ Thiên Thiên - An Lành - Tươi Mát</h2>
                <span class="lead text-colors"><b>TRÀ HOA BÌNH CHI - THANH NHIỆT, GIẢI ĐỘC - GIẢM MỠ MÁU - NGĂN NGỪA UNG THƯ - TIỂU ĐƯỜNG</b></span>
            </div>
        </div>
        <section class="p-b-0">
            <div class="col-md-4" data-animation="fadeInRight">
                <img src="https://trahoa.net/media/images/homepage/anh-tra-hoa-binh-chi-1.jpg" class="img-responsive img-thumbnail" alt="bình chi trà hoa">
                <div class="image-centered text-block">
                    <h3 style="color: #fff;text-align: center;">Tỉnh táo đầu óc<br>
                    minh mẫn trí tuệ</h3>
                </div>
            </div>
            <div class="col-md-4" data-animation="fadeInUp">
                <img src="https://trahoa.net/media/images/homepage/anh-tra-hoa-binh-chi-4.jpg" class="img-responsive img-thumbnail" alt="bình chi trà hoa">
                <div class="image-centered text-block">
                    <h3 style="color: #fff;text-align: center;">Có thể dùng thay<br>
                    nước uống hàng ngày</h3>
                </div>
            </div>
            <div class="col-md-4" data-animation="fadeInLeft">
                <img src="https://trahoa.net/media/images/homepage/anh-tra-hoa-binh-chi-6.jpg" class="img-responsive img-thumbnail" alt="bình chi trà hoa">
                <div class="image-centered text-block">
                    <h3 style="color: #fff;text-align: center;">Chiết xuất từ<br>
                    nguyên liệu hảo hạng nhất</h3>
                </div>
            </div>
        </section>
        <!-- end: WELCOME -->

        <!-- WHAT WE DO -->
        <section class="p-b-0">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 style="font-family: pacifico; color: #fd5f2d">Lợi ích khi sử dụng Trà Hoa Bình Chi</h2>
                    <!--span class="lead text-colors">Trà Hoa Bình Chi - Hương vị từ thiên nhiên</span-->
                </div>
                <!-- Text Boxes -->
                <div class="row col-no-margin equalize" data-equalize-item=".text-box">
                    <!--Box 1-->
                    <div class="col-md-3" data-animation="fadeIn" data-animation-delay="300">
                        <div style="height: 400px; padding: 40px; text-align: center; background-image: url(media/images/homepage/anh-tra-hoa-binh-chi-18.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                            <h3 style="color: #fff;">NGUỒN GỐC THIÊN NHIÊN</h3>
                            <p style="color: #fff;"><b>100% thảo dược và nguyên liệu quý</b>, hoàn toàn tự nhiên, không tác dụng phụ. Sản phẩm dùng được cho mọi lứa tuổi từ trẻ nhỏ đến người già</p>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <div class="col-md-3" data-animation="fadeIn" data-animation-delay="600">
                        <div style="height: 400px; padding: 40px; text-align: center; background-image: url(media/images/homepage/anh-tra-hoa-binh-chi-21.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                            <h3 style="color: #fff;">HƯƠNG VỊ DỄ UỐNG</h3>
                            <p style="color: #fff;">Mỗi lần pha trà là một lần hương thơm dịu nhẹ của các loại thảo mộc thiên nhiên lan tỏa, đánh thức mọi giác quan trong bạn. Nhấp một ngụm là thấy cả đất trời gói gọn trong đó</p>
                        </div>
                    </div>
                    <!--End: Box 2-->
                    <!--Box 3-->
                    <div class="col-md-3" data-animation="fadeIn" data-animation-delay="900">
                        <div style="height: 400px; padding: 40px; text-align: center; background-image: url(media/images/homepage/anh-tra-hoa-binh-chi-30.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                            <h3 style="color: #fff;">KHÁCH HÀNG TIN TƯỞNG</h3>
                            <p style="color: #fff;">Được tin dùng bởi hơn <b>500 khách hàng</b>, cho phản hồi rất tích cực cả về mùi vị lẫn cảm nhận về sức khỏe</p>
                        </div>
                    </div>
                    <!--End: Box 3-->
                    <!--Box 4-->
                    <div class="col-md-3" data-animation="fadeIn" data-animation-delay="1200">
                        <div style="height: 400px; padding: 40px; text-align: center; background-image: url(media/images/homepage/anh-tra-hoa-binh-chi-32.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;">
                            <h3 style="color: #fff;">PHÒNG NGỪA CÁC BỆNH LÝ NGUY HIỂM</h3>
                            <p style="color: #fff;">Phòng bệnh hơn chữa bệnh. Sử dụng trà hoa Bình Chi thường xuyên là bạn đã ưu ái bản thân mình, giúp bạn hạn chế được sự gia tăng của các bệnh tật hiểm nghèo như <b>ung thư</b>, <b>tiểu đường</b>, <b>mỡ máu tăng cao</b>.</p>
                        </div>
                    </div>
                    <!--End: Box 4-->
                </div>
                <!-- end: Text Boxes -->
            </div>
        </section>
        <!-- END WHAT WE DO -->

        <section class="p-b-0" style="background-image: url(media/images/bg-bottom.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;">
            <div class="container">
                <div class="col-md-6 m-b-30" style="height:556px">
                    <div class="image-absolute" data-animation="fadeInLeft" data-animation-delay="600">
                        <img class="img-responsive lazy" src="media/images/homepage/anh-hop-tra.png" alt="ảnh hộp bình chi trà hoa">
                    </div>
                </div>
    
                <div class="col-md-6" data-animation="fadeInUp" data-animation-delay="800">
                    <div class="m-b-40">
                        <h2 class="text-medium" style="color: #a13bef;text-align: center;">BÌNH CHI TRÀ HOA</h2>
                        <span class="lead">Với chiết xuất 100% từ thảo mộc thiên nhiên rất đỗi quen thuộc như: <b>Nụ hồng, Bạch Cúc, Hoàng Cúc, Hoa Cúc, Lá Sen, Kỳ Tử...</b> kết hợp cùng các nguyên liệu quý hiếm như <b>nấm Chaga, rễ cây bồ công anh châu Âu,</b> ... <b>BÌNH CHI TRÀ HOA</b> có tác dụng:</span>
                        <div class="row" style="font-size: 18px;">
                            <div class="col-md-6">
                                <ul class="list-icon list-icon-check list-icon-colored">
                                    <li><span class="label label-danger">Ngăn ngừa ung thư</span></li>
                                    <li><span class="label label-warning">Phòng tránh tiểu đường</span></li>
                                    <li><span class="label label-info">Thải độc cơ thể</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-icon list-icon-arrow list-icon-colored">
                                    <li><span class="label label-primary">Giảm mỡ máu</span></li>
                                    <li><span class="label label-default">Giảm béo ở phụ nữ và nam giới</span></li>
                                    <li><span class="label label-success">Giảm thiểu các tác nhân có hại</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn-dark btn-outline" style="width: 100%"><span>MUA NGAY</span></a>
                </div>
            </div>
        </section>

        <section class="p-b-0" style="background-color: #FFF">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 style="color: #ff9900">THÔNG TIN CHI TIẾT SẢN PHẨM <span style="color: #ffff00">TRÀ HOA</span></h2>
                </div>

                <div class="col-md-10 center" data-animation="fadeInUp">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-6">
                                <h4><span class="label label-warning">THÀNH PHẦN</span></h4>
                                <ul>
                                    <li><b>Nấm Chaga Siberia</b></li>
                                    <li><b>Kỳ Tử</b></li>
                                    <li><b>Cam Thảo</b></li>
                                    <li><b>Bạch Cúc</b></li>
                                    <li><b>Hoa Hoàng Cúc</b></li>
                                    <li><b>Nụ Hồng</b></li>
                                    <li><b>Lá sen</b></li>
                                    <li><b>Chè đen</b></li>
                                </ul>
                                <br>
                                
                                <h4><span class="label label-primary">HƯỚNG DẪN SỬ DỤNG</span></h4>
                                <ul>
                                    <li><b>Bước 1:</b> Pha một gói trà hoa Bình Chi vào ấm.</li>
                                    <li><b>Bước 2:</b> Chế khoảng 300-400 ml nước sôi (nên dùng nước sôi ở 100 độ C)</li>
                                    <li><b>Bước 3:</b> Ngâm trà trong khoảng 4-6 phút để trà nở đều</li>
                                    <li><b>Bước 4:</b> Thêm đường tùy khẩu vị. Trà ngon hơn khi uống lạnh.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <h4><span class="label label-primary">ĐỐI TƯỢNG KHUYÊN DÙNG</span></h4>
                                <ul>
                                    <li><span class="label label-success">1. Người cao tuổi:</span> Trà hoa Bình Chi có chứa nấm Chaga Siberia rất tốt trong việc phòng ngừa các bệnh tuổi già đặc biệt là ung thư, ngăn ngừa sự phát triển của các tế bào có hại. Bởi vậy đây là sự lựa chọn rất tốt cho người cao tuổi.</li>
                                    <li><span class="label label-success">2. Người hay uống rượu bia:</span> Những người hay uống rượu bia thường cảm thấy khó chịu nhất là khi say, do đó một tách trà hoa mát lạnh sẽ giúp họ không những giải cơn khát do rượu bia gây ra mà còn giúp cải thiện tình trạng cơ thể, giúp tỉnh táo nhanh chóng hơn.</li>
                                    <li><span class="label label-success">3. Người làm việc căng thẳng, đầu óc mệt mỏi:</span> Người làm việc đầu óc nhiều, áp lực công việc dễ dẫn đến stress cực độ. Bởi vậy họ cần được thư giãn, an nhiên về tinh thần. Và sử dụng trà hoa Bình Chi là một trong những cách giúp bạn trở lại trạng thái tỉnh táo và thư thái nhất để có thể tiếp tục xử lý công việc.</li>
                                    <li><span class="label label-success">4. Người làm việc văn phòng, công sở:</span> Dân văn phòng, công sở phải sử dụng máy tính nhiều và ngồi nhiều. Đặc điểm công việc khiến vóc dáng các bạn không được thon gọn, kém xinh hơn. Trà hoa Bình Chi có chứa lá sen khô không những làm giảm mỡ máu mà còn giúp đào thải các chất béo, giúp cơ thể nhanh chóng lấy lại vóc dáng đẹp đẽ</li>
                                    <li><span class="label label-success">5. Thanh, thiếu niên nóng trong người, mụn nhọt:</span> Các bạn trẻ rất hay hoạt động mạnh, cộng thêm việc thích ăn các đồ ăn cay nóng, uống nước ngọt khiến gan phải làm việc vất vả hơn, dễ sinh ra nóng trong và mụn nhọt. Đừng lo vì trà hoa Bình Chi có công dụng chính là thanh nhiệt, giải độc sẽ là người bạn đồng hành cùng bạn trong mọi cuộc vui</li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Images Carousel slider -->
        <hr class="space">
        <div class="container">
            <!--Gallery Carousel -->
            <div class="hr-title hr-long center"><abbr style="font-size: 22px;">HÌNH ẢNH THỰC TẾ SẢN PHẨM</abbr> </div>
            <div class="carousel" data-lightbox="gallery" data-margin="20" data-autoplay="true" data-loop="true" data-autoplay-timeout="3500">
                <!-- portfolio item -->
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-5.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-5.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <!-- end: portfolio item -->

                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-7.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-7.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-8.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-8.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-9.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-9.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-10.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-10.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-13.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-13.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-15.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-15.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-16.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-16.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-17.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-17.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-22.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-22.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-25.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-25.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-26.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-26.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                <div class="portfolio-item img-zoom pf-illustrations pf-media pf-icons pf-Media">
                    <div class="portfolio-item-wrap">
                        <div class="portfolio-image">
                            <a href="#"><img class="img-responsive lazy" src="media/images/homepage/slider/anh-tra-hoa-binh-chi-33.jpg" alt="bình chi trà hoa"></a>
                        </div>
                        <div class="portfolio-description">
                            <a title="Bình Chi Trà Hoa" data-lightbox="image" href="media/images/homepage/slider/anh-tra-hoa-binh-chi-33.jpg" class="btn btn-light btn-rounded"><div class="icon-magnifier"></div></a>

                        </div>
                    </div>
                </div>
                
            </div>
            <hr class="space">
            <!--Gallery Carousel -->
        </div>

        <!-- Pricing Table Transparent -->
        <section class="parallax text-light background-overlay-dark" style="background: url('media/images/homepage/anh-tra-hoa-binh-chi-20.jpg');background-position: center center;background-repeat: no-repeat;background-size: cover;" >
            <div class="container">
                <div class="text-center text-light">
                    <hr class="space">
                    <h2 class="heading-jumbo" data-animation="fadeInUp">MUA NHIỀU - <span class="nowrap">ƯU ĐÃI LỚN</span></h2>
                    <p class="lead">Vui lòng gọi điện thoại tới <span class="label label-primary"><a href="tel:0939878282"><b>HOTLINE: 0939.87.82.82</b></a></span> hoặc <span class="label label-default">ĐẶT MUA</span><br>Chúng tôi sẽ liên hệ lại trong vòng 5'!</p>
                </div>
                <hr class="space">
                <div class="row">
                    <div class="pricing-table transparent">
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInLeft">
                            <div class="plan">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN LẺ</h4>
                                    <div class="plan-price" style="font-size: 50px;">169.000<sup>VNĐ</sup><span>/1 HỘP</span> </div>
                                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn btn-dark"><span><i class="fa fa-shopping-cart"></i>ĐẶT MUA</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: 1 hộp</li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInUp">
                            <div class="plan featured">
                                <div class="plan-header">
                                    <h4 style="font-family: pacifico;">ƯU ĐÃI ĐẶC BIỆT</h4>
                                    <p class="text-muted"><span class="label label-success">COMBO QUÀ TẶNG</span></p>
                                    <div class="plan-price" style="font-size: 50px;">419.000<sup>VNĐ</sup><span>/bộ</span> </div>
                                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn btn-dark"><span><i class="fa fa-shopping-cart"></i>MUA NGAY</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: 3 hộp</li>
                                        <li><i class="fa fa-thumbs-up"></i>Tặng kèm 1 Bình Nước Uống Trà Giữ Nhiệt trị giá: 150k ==> <a data-target="#boamchen" href="#"><span class="label label-success">HÌNH ẢNH BÌNH NƯỚC</span></a></li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12" data-animation="fadeInRight">
                            <div class="plan">
                                <div class="plan-header">
                                    <h4>GIÁ BÁN ĐẠI LÝ</h4>
                                    <p class="text-muted"><span class="label label-danger">MUA NHIỀU NHẤT</span></p>
                                    <div class="plan-price" style="font-size: 50px;">GIÁ<!--sup>VNĐ</sup--><span>/HỘP</span> </div>
                                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn btn-dark"><span><i class="fa fa-shopping-cart"></i>LIÊN HỆ</span></a> </div>
                                <div class="plan-list">
                                    <ul>
                                        <li><i class="fa fa-star"></i>Số lượng: > 10 hộp</li>
                                        <li><i class="fa fa-user"></i>Chiết khấu: XX%</li>
                                        <li><i class="fa fa-rocket"></i>Miễn phí vận chuyển</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Pricing Table Transparent --> 

        <section class="p-b-0">
            <div class="container">
                <!-- Testimonial Carousel -->
                <div class="row">
                    
                    <div class="col-md-8">
                        <div class="hr-title hr-long center"><abbr>CÂU HỎI THƯỜNG GẶP</abbr> </div>
                        <!-- Testimonials -->
                        <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1" data-autoplay="true" data-loop="true" data-autoplay-timeout="3500">
            
                            <!-- Testimonials item -->
                            <div class="testimonial-item">
                                <img class="img-responsive lazy" src="media/images/tu-van-suc-khoe/benh-nhan-1.jpg" alt="Thanh Anh">
                                <p>Cho tôi hỏi, tôi bị dạ dày đã lâu, vậy không biết có thành phần nào trong trà này gây ra mẫn cảm hoặc không nên dùng đối với người bị đau dạ dày không?
                                Cảm ơn đã tư vấn!</p>
                                <!--span>Alan Monre</span>
                                <span>CEO, Square Software</span-->
                                <span><a class="btn" href="{{ site.url }}/tu-van-suc-khoe/">Xem thêm</a></span>
                            </div>
                            <!-- end: Testimonials item-->
            
                            <!-- Testimonials item -->
                            <div class="testimonial-item">
                                <img class="img-responsive lazy" src="media/images/tu-van-suc-khoe/benh-nhan-2.jpg" alt="Thanh Anh">
                                <p>Chào Bình Chi, em năm nay hơn 23 tuổi và dạo này cũng bị mẩn ngứa, mụn nhọt khắp người. Vậy cho em hỏi là uống trà này có được không và liệu có thải độc tốt không ạ? Em xin cảm ơn.</p>
                                <!--span>Alan Monre</span>
                                <span>CEO, Square Software</span-->
                                <span><a class="btn" href="{{ site.url }}/tu-van-suc-khoe/">Xem thêm</a></span>
                            </div>
                            <!-- end: Testimonials item-->
            
                            <!-- Testimonials item -->
                            <div class="testimonial-item">
                                <img class="img-responsive lazy" src="media/images/tu-van-suc-khoe/benh-nhan-3.jpg" alt="Thanh Anh">
                                <p>Chào ad, mình làm việc trong văn phòng nên rất hay buồn ngủ, trong giờ mà cứ ngáp ngắn ngáp dài ý. Vậy cho mình hỏi uống trà này có giúp tỉnh táo không ạ? Nếu ok thì mình sẽ giới thiệu cho các anh em cùng phòng ạ :))</p>
                                <!--span>Alan Monre</span>
                                <span>CEO, Square Software</span-->
                                <span><a class="btn" href="{{ site.url }}/tu-van-suc-khoe/">Xem thêm</a></span>
                            </div>
                            <!-- end: Testimonials item-->
            
                        </div>
                        <!-- end: Testimonials -->
                    </div>
        
                    <div class="col-md-4">
                        <!--Default Form-->
                        <div class="hr-title hr-long center"><abbr>GỬI THƯ CHUYÊN GIA TƯ VẤN</abbr> </div>
                        <!--div class="row">
                            <form action="contact-form.php" method="post" class="contact-form">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="upper" for="name">Họ và Tên</label>
                                        <input type="text" class="form-control required" name="senderName" placeholder="Nhập tên" id="name" aria-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label class="upper" for="email">Địa chỉ Email</label>
                                        <input type="email" class="form-control required email" name="senderEmail" placeholder="Nhập Email" id="email" aria-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label class="upper" for="phone">Số điện thoại</label>
                                        <input type="text" class="form-control required" name="phone" placeholder="Nhập số điện thoại" id="phone" aria-required="true">
                                    </div>
                                    <div class="form-group">
                                        <label class="upper" for="comment">Mô tả vấn đề bạn gặp phải</label>
                                        <textarea class="form-control required" name="comment" rows="9" placeholder="Nhập lời nhắn" id="comment" aria-required="true"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;GỬI NGAY</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div-->
                        <!-- Do not change the code! -->
                        <iframe src="https://www.foxyform.com/form.php?id=924944&amp;sec_hash=b4a0bd694a6" width="100%" height="446px" style="border: none;" frameborder="0"></iframe>
                        <a id="foxyform_embed_link_924944" href="https://trahoa.net"></a>
                        <script data-cfasync="false" src="/cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script>
                        <!--script type="text/javascript">
                        (function(d, t){
                           var g = d.createElement(t),
                               s = d.getElementsByTagName(t)[0];
                           g.src = "https://www.foxyform.com/js.php?id=924944&sec_hash=b4a0bd694a6&width=350px";
                           s.parentNode.insertBefore(g, s);
                        }(document, "script"));
                        </script>
                        <!-- Do not change the code! -->
                        <!--a name="form209098287" id="formAnchor209098287"></a>
                        <script type="text/javascript" src="https://fs28.formsite.com/include/form/embedManager.js?209098287"></script>
                        <script type="text/javascript">
                        EmbedManager.embed({
                            key: "https://fs28.formsite.com/res/showFormEmbed?EParam=m%2FOmK8apOTC9uzltYXhww2rYe2Y6sJfY&209098287",
                            width: "100%",
                            mobileResponsive: true
                        });
                        </script>
                        <!--END: Default Form--> 
                    </div>
        
                </div>
                <!-- End: Testimonial Carousel -->
            </div>
        </section>

        <!--call-to-action colored background -->
        <div class="call-to-action call-to-action-colored" data-animation="fadeInUp">
            <div class="container">
                <div class="col-md-10">
                    <h3>Hơn <span>500+ nhà hàng, hiệu thuốc và quán coffee</span> phân phối và sử dụng sản phẩm <span>TRÀ HOA BÌNH CHI</span> trên khắp toàn quốc</h3>
                    <p>Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
                </div>
                <div class="col-md-2">
                    <a data-target="#modal" data-toggle="modal" href="#" class="btn btn-light btn-outline" style="width: 100%">ĐẶT MUA!</a>
                </div>
            </div>
        </div>

        <!--END: call-to-action colored background -->

        <!-- BLOG -->
        <div class="container">
            <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                <h2>TIN TỨC MỚI NHẤT</h2>
                <!--span class="lead text-colors">Trà Hoa Bình Chi - Hương vị từ thiên nhiên</span-->
            </div>
            <!-- CATEGORIES -->
            <div class="row">
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/benh-man-tinh/"><h4>TÌM HIỂU CÁC BỆNH MÃN TÍNH</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.benh-man-tinh limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/phuong-phap-dieu-tri/"><h4>MẸO HAY BỎ TÚI</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.phuong-phap-dieu-tri limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/song-khoe-moi-ngay/"><h4>SỐNG KHỎE MỖI NGÀY</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.song-khoe-moi-ngay limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end: CATEGORIES -->
        </div>
        <!-- end: BLOG -->
