---
layout: landing
title: "Thanh nhiệt, giải độc, hạn chế mỡ máu, ngăn ngừa ung thư và bệnh tiểu đường"
meta-title: "Thanh nhiệt, giải độc, hạn chế mỡ máu, ngăn ngừa ung thư và bệnh tiểu đường"
description: "Trà hoa Bình Chi không dừng lại ở việc là một thức uống thường nhật, đó còn là một loại thực phẩm hỗ trợ rất tốt trong việc thanh lọc cơ thể, giảm mỡ máu và đặc biệt là ngăn ngừa ung thư ... mang lại năng lượng và tinh thần khỏe khoắn hơn cho ngày mới."
meta-description: "Trà hoa có tác dụng thanh nhiệt, giải độc, hạ mỡ máu, ngăn ngừa sự hình thành của tế bào ung thư và phòng tránh tiểu đường ... đem đến một sự thư thái, an nhiên cho người dùng"
redirect_from:
    - /index.php/
---

        <!-- WELCOME -->
        <section class="p-b-0">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 style="font-family: pacifico; color: #fd5f2d">Hương vị từ thiên nhiên<br>
                        An Lành - Tươi Mát
                    </h2>
                    <span class="lead text-colors">TRÀ HOA BÌNH CHI - THANH NHIỆT, GIẢI ĐỘC - GIẢM MỠ MÁU - NGĂN NGỪA UNG THƯ - TIỂU ĐƯỜNG</span>
                </div>
                <div class="row col-no-margin equalize" data-equalize-item=".text-box">
                    <!--Box 1-->
                    <div class="col-md-4" style="background-image: url("/media/images/background/anh-tra-hoa-binh-chi-1.jpg");">
                        <div class="text-box hover-effect">
                            <i class="fa fa-paper-plane"></i>
                            <h3>Tỉnh táo đầu óc, minh mẫn trí tuệ</h3>
                            <p style="font-size: 20px;">Giúp bạn xua tan mệt mỏi, căng thẳng trong công việc cũng như trong cuộc sống. Để bạn cảm thấy an nhiên, tĩnh tâm và sẵn sàng trở lại với tinh thần sảng khoái nhất</p>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <div class="col-md-4" style="background-color: #41566f;">
                        <div class="text-box hover-effect">
                            <i class="fa fa-pie-chart"></i>
                            <h3>Có thể dùng thay nước uống hàng ngày</h3>
                            <p style="font-size: 20px;">Khác với các loại trà thông dụng trên thị trường, trà hoa Bình Chi có vị ngọt dịu nhẹ, mùi thơm của thảo mộc và trên hết là có thể pha nhiều lần nước mà vị ngon dường như vẫn vẹn nguyên lúc ban đầu.</p>
                        </div>
                    </div>
                    <!--End: Box 2-->
                    <!--Box 3-->
                    <div class="col-md-4" style="background-color: #32475f;">
                        <div class="text-box hover-effect">
                            <i class="fa fa-tree"></i>
                            <h3>Chiết xuất từ những nguyên liệu hảo hạng nhất</h3>
                            <p style="font-size: 20px;">Với chiết xuất 100% từ thảo mộc thiên nhiên rất đỗi quen thuộc như: Nụ hồng, Bạch Cúc, Hoàng Cúc, Lá Sen, Kỳ Tử... kết hợp cùng các nguyên liệu quý hiếm như nấm Chaga có tác dụng ngăn ngừa ung thư, rễ cây bồ công anh châu Âu giúp phòng tránh tiểu đường, trà hoa Bình Chi thực sự là một thức uống có lợi cho sức khỏe của mọi người</p>
                        </div>
                    </div>
                    <!--End: Box 3-->
                </div>
            </div>
        </section>
        <!-- end: WELCOME -->

        <!-- WHAT WE DO -->
        <section class="p-b-0">
            <div class="container">
                <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                    <h2 style="font-family: pacifico; color: #fd5f2d">Lợi ích khi sử dụng Trà Hoa Bình Chi</h2>
                    <!--span class="lead text-colors">Trà Hoa Bình Chi - Hương vị từ thiên nhiên</span-->
                </div>
                <!-- Text Boxes -->
                <div class="row col-no-margin equalize" data-equalize-item=".text-box">
                    <!--Box 1-->
                    <div class="col-md-3" style="background-image: url("/media/images/background/anh-tra-hoa-binh-chi-1.jpg");">
                        <div class="text-box">
                            <i class="fa fa-tree"></i>
                            <h3>NGUỒN GỐC THIÊN NHIÊN</h3>
                            <p style="font-size: 20px;"><b>100% thảo dược Việt Nam</b>, hoàn toàn tự nhiên, không tác dụng phụ. Sản phẩm dùng được cho mọi lứa tuổi từ trẻ nhỏ đến người già</p>
                        </div>
                    </div>
                    <!--End: Box 1-->
                    <!--Box 2-->
                    <div class="col-md-3" style="background-color: #56B847;">
                        <div class="text-box">
                            <i class="fa fa-pie-chart"></i>
                            <h3>HƯƠNG VỊ DỄ UỐNG</h3>
                            <p style="font-size: 20px;">Khác với các loại trà có pha trộn hương liệu tổng hợp, điểm đặc biệt của trà hoa Bình Chi đã là thơm nồng mùi vị thảo dược, không quá gắt mà lại rất dễ chịu.</p>
                        </div>
                    </div>
                    <!--End: Box 2-->
                    <!--Box 3-->
                    <div class="col-md-3" style="background-color: #8BC73F;">
                        <div class="text-box">
                            <i class="fa fa-lightbulb-o"></i>
                            <h3>KHÁCH HÀNG TIN TƯỞNG</h3>
                            <p style="font-size: 20px;">Được tin dùng bởi hơn <b>500 khách hàng</b>, cho phản hồi rất tích cực cả về mùi vị lẫn cảm nhận về sức khỏe</p>
                        </div>
                    </div>
                    <!--End: Box 3-->
                    <!--Box 4-->
                    <div class="col-md-3" style="background-color: #A3CF39;">
                        <div class="text-box">
                            <i class="fa fa-language"></i>
                            <h3>PHÒNG NGỪA CÁC BỆNH LÝ NGUY HIỂM</h3>
                            <p style="font-size: 20px;"">Phòng bệnh hơn chữa bệnh. Sử dụng trà hoa Bình Chi thường xuyên là bạn đã ưu ái bản thân mình, giúp bạn hạn chế được sự gia tăng của các bệnh tật hiểm nghèo như <b>ung thư</b>, <b>tiểu đường</b>, <b>mỡ máu tăng cao</b>.</p>
                        </div>
                    </div>
                    <!--End: Box 4-->
                </div>
                <!-- end: Text Boxes -->
            </div>
        </section>
        <!-- END WHAT WE DO -->

        <hr class="space">

        <!--call-to-action colored background -->
        <div class="call-to-action call-to-action-colored">
            <div class="container">
                <div class="col-md-10">
                    <h3>Hơn <span>500+ nhà hàng, hiệu thuốc và quán coffee</span> phân phối và sử dụng sản phẩm <span>TRÀ HOA BÌNH CHI</span> trên khắp toàn quốc</h3>
                    <p>Đặt mua ngay hôm nay để có được giá cả tốt nhất cho bạn và người thân của mình!</p>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-light btn-outline">ĐẶT MUA!</a>
                </div>
            </div>
        </div>

        <!--END: call-to-action colored background -->

        <!-- Testimonial Carousel -->
        <div class="container row">
            
            <div class="col-md-8">
                <div class="hr-title hr-long center"><abbr>CÂU HỎI THƯỜNG GẶP</abbr> </div>
                <!-- Testimonials -->
                <div class="carousel arrows-visibile testimonial testimonial-single testimonial-left" data-items="1" data-autoplay="true" data-loop="true" data-autoplay-timeout="3500">
    
                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="images/team/9.jpg" alt="">
                        <p>Thật sự khác biệt! Trà của Tân Bình Chi thơm dễ chịu, còn đượm mùi thảo mộc thật!
Mình uống đến nước thứ ba mà nước vẫn vàng óng như mật ong vậy, hương vị thì khá dễ uống; bản thân mình là một người khá khó tính khi thưởng trà nhưng cũng đã rất thích loại trà này.  
Cảm ơn Tân Bình Chi!,…</p>
                        <!--span>Alan Monre</span>
                        <span>CEO, Square Software</span-->
                        <span><a href="#" class="btn">Xem thêm</a></span>
                    </div>
                    <!-- end: Testimonials item-->
    
                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="images/team/9.jpg" alt="">
                        <p>Biết đến trà hoa Bình Chi qua một người bạn thân giới thiệu. Đợt đó mình đang tìm mãi 1 cái sản phẩm để uống thay nước lọc mà vẫn giúp khỏe khoắn, thanh nhiệt, giải độc. Ấn tượng đầu tiên là bao bì rất đẹp, mà cũng rất lạ ý; gói trà bên trong cũng xinh xắn. Khi mình pha trà thì màu nước rất đẹp, vàng nhưng không bị đặc mà rất trong. Uống vào thì thấy nhẹ nhàng hơn, giờ ngày nào mình cũng pha trà bỏ vào bình đem đi làm, không thì trong túi lúc nào cũng có vài ba gói trà. Bị thích trà hoa lắm ý :D…</p>
                        <!--span>Alan Monre</span>
                        <span>CEO, Square Software</span-->
                        <span><a href="#" class="btn">Xem thêm</a></span>
                    </div>
                    <!-- end: Testimonials item-->
    
                    <!-- Testimonials item -->
                    <div class="testimonial-item">
                        <img src="images/team/9.jpg" alt="">
                        <p>Tôi bị căng thẳng do công việc đã cả tuần nay, nhờ đứa cháu giới thiệu sản phẩm trà hoa này uống thấy rất dễ chịu, cảm giác thoải mái và hanh thông mọi thứ, tỉnh táo để làm việc hơn. Xin cảm ơn công ty…</p>
                        <!--span>Alan Monre</span>
                        <span>CEO, Square Software</span-->
                        <span><a href="#" class="btn">Xem thêm</a></span>
                    </div>
                    <!-- end: Testimonials item-->
    
                </div>
                <!-- end: Testimonials -->
            </div>

            <div class="col-md-4">
                <!--Default Form-->
                <div class="hr-title hr-long center"><abbr>GỬI THƯ CHUYÊN GIA TƯ VẤN</abbr> </div>
                <div class="row">
                    <form>
                        <div class="row">
                            <div class="form-group">
                                <label class="upper" for="name">Họ và Tên</label>
                                <input type="text" class="form-control required" name="senderName" placeholder="Enter name" id="name" aria-required="true">
                            </div>
                            <div class="form-group">
                                <label class="upper" for="email">Địa chỉ Email</label>
                                <input type="email" class="form-control required email" name="senderEmail" placeholder="Enter email" id="email" aria-required="true">
                            </div>
                            <div class="form-group">
                                <label class="upper" for="phone">Số điện thoại</label>
                                <input type="text" class="form-control required" name="phone" placeholder="Enter phone" id="phone" aria-required="true">
                            </div>
                            <div class="form-group">
                                <label class="upper" for="comment">Mô tả vấn đề bạn gặp phải</label>
                                <textarea class="form-control required" name="comment" rows="9" placeholder="Enter comment" id="comment" aria-required="true"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!--END: Default Form--> 
            </div>

        </div>
        <!-- End: Testimonial Carousel -->

        <!-- BLOG -->
        <div class="container">
            <div class="heading heading-center m-b-40" data-animation="fadeInUp">
                <h2>TIN TỨC MỚI NHẤT</h2>
                <!--span class="lead text-colors">Trà Hoa Bình Chi - Hương vị từ thiên nhiên</span-->
            </div>
            <!-- CATEGORIES -->
            <div class="row">
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/benh-man-tinh/"><h4>TÌM HIỂU CÁC BỆNH MÃN TÍNH</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.benh-man-tinh limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/dieu-tri-benh-man-tinh/"><h4>MẸO HAY BỎ TÚI</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.dieu-tri-benh-man-tinh limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="heading-fancy heading-line">
                        <a href="{{ site.url }}/mat-ngu-sau-sinh/"><h4>SỐNG KHỎE MỖI NGÀY</h4></a>
                    </div>
                    <div id="post-thumbnail-list">
                        {% for post in site.categories.song-khoe-moi-ngay limit:4 %}
                        <div class="post-thumbnail-entry">
                            <!--img src="{{ post.image }}" alt="{{ post.title }}"-->
                            <div class="post-thumbnail-content">
                                <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                                <span class="post-date"><i class="fa fa-clock-o"></i> {{ post.date | date_to_long_string }}</span>   
                                <!--span class="post-meta-category"><i class="fa fa-tag"></i> <a href="{{ site.url }}/{{ post.category }}">{{ post.category }}</a></span-->
                            </div>    
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- end: CATEGORIES -->
        </div>
        <!-- end: BLOG -->
