    <!-- Go to top button -->
    <a id="goToTop"><i class="fa fa-angle-up top-icon"></i><i class="fa fa-angle-up"></i></a>

    <!--Plugins-->
    <script src="{{ site.url }}/assets/js/jquery.js"></script>
    <script src="{{ site.url }}/assets/js/plugins.js"></script>

    <!--Template functions-->
    <script src="{{ site.url }}/assets/js/functions.js"></script>

<div class="call-mobile">
    <a href="tel:939878282">093.987.8282</a><i class="icon icon-mail"></i>
</div>
<style>
.call-mobile {
    background: #ED1C24;
    position: fixed;
    bottom: 10px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile1 {
    position: fixed;
    bottom: 52px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile i {
    font-size: 20px;
    line-height: 40px;
    background: #B52026;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
}

.call-mobile a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding-left: 10px;
}

</style>
