<!-- Go to top button -->
<a id="goToTop">
    <i class="fa fa-angle-up top-icon"></i>
    <i class="fa fa-angle-up"></i>
</a>

<!--Plugins-->
<script src="{{ site.url }}/assets/js/jquery.js"></script>
<script src="{{ site.url }}/assets/js/plugins.js"></script>

<!--Template functions-->
<script src="{{ site.url }}/assets/js/functions.js"></script>


<div class="call-mobile">
    <a href="tel:939878282">093.987.8282</a><a data-target="#modal" data-toggle="modal" href="#"><i class="icon icon-mail"></i></a>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="modal" aria-labelledby="modal-label" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label">ĐẶT MUA TRÀ HOA BÌNH CHI NGAY HÔM NAY ĐỂ NHẬN ƯU ĐÃI</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            FORM ĐĂNG KÝ ĐẶT MUA
                        </p>
                        <!--form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="upper" for="name">Your Name</label>
                                        <input type="text" class="form-control required" name="senderName" placeholder="Enter name" id="name" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="upper" for="email">Your Email</label>
                                        <input type="email" class="form-control required email" name="senderEmail" placeholder="Enter email" id="email" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="upper" for="phone">Your Phone</label>
                                        <input type="text" class="form-control required" name="phone" placeholder="Enter phone" id="phone" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="upper" for="company">Your Company</label>
                                        <input type="text" class="form-control required" name="company" placeholder="Enter company" id="company" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="upper" for="comment">Your comment</label>
                                        <textarea class="form-control required" name="comment" rows="9" placeholder="Enter comment" id="comment" aria-required="true"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group text-center">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;Send message</button>
                                    </div>
                                </div>
                            </div>
                        </form-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-b" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-b">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<style>
.call-mobile {
    background: #ED1C24;
    position: fixed;
    bottom: 26px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 80px;
    z-index: 99999;
}

.call-mobile1 {
    position: fixed;
    bottom: 52px;
    height: 40px;
    line-height: 40px;
    padding: 0 0px 0 0px;
    border-radius: 40px;
    color: #fff;
    left: 20px;
    z-index: 99999;
}

.call-mobile i {
    font-size: 20px;
    line-height: 40px;
    background: #B52026;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    float: right;
}

.call-mobile a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 0px;
    padding-left: 10px;
}

</style>


<!--div id="box-1">
  <div class="box-1">
    <div class="datcauhoi">
        <a class="blink" href="http://fucomin.xyz/dat-cau-hoi.html" target="_blank"><i class="fa fa-envelope"></i> Hỏi dược sĩ</a>
    </div>
    <div class="logo-footer-1"></div>
    <div class="box-muahang">
       <a class="blink" href="http://fucomin.xyz/dat-hang.html" target="_blank"><i class="fa fa-smile-o"></i> Tôi muốn mua</a>
    </div>
  </div>
</div>
<style>
.datcauhoi{width: 50%;
    float: left;
    background: #079c0d;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    line-height: 60px;
cursor: pointer;
}
.datcauhoi a{ 
    color: #fff;
    font-size: 16px;
    display: block;
    font-weight: 700;
}
#box-1{width: 100%;
   height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 999;
}
.datcauhoi > a > img {vertical-align: middle;}
.box-1{width: 800px;margin: 0 auto;position: relative;}
/logo-footer-1 {
    background: url(https://sieunghe.com/wp-content/uploads/2016/03/logo-hoc-vien-quan-y.png) no-repeat;
    background-size: 68%;
    width: 128px;
    height: 185px;
    position: absolute;
    top: -57px;
    left: 357px;
}
.box-muahang{width: 50%;
    float: right;
    background: #ff0000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    line-height: 60px;}
.box-muahang a{text-align: center;
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
a {
  text-decoration: none;
}
.box-muahang > a > img {vertical-align: middle;}
.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blinker {
0%{opacity:1}
25%{opacity:1}
50%{opacity:0}
75%{opacity:1}
100%{opacity:1}
}
#social-box{
    display: none;
    max-width: 400px;
    overflow: hidden;
    position: absolute;
    bottom: 35px;
    left: 6px;
    box-shadow: 2px 5px 39px 9px #ccc;
    border-radius: 10px;
    background: #fff;
    z-index: 9999999999999;
}
#social-box .item{
    padding: 10px;
    text-align: center;
       }
#social-box .item img{max-width: 100%;}
#social-box h4{
    padding: 10px 10px 10px 55px;
    color: #fff;
    font-family: arial;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    background: #ed3237 url(http://www.kemtrinamhocvienquany.com/wp-content/uploads/2017/06/doctor.png) no-repeat 14px 3px;
    text-indent: 10px;
}
/* Columns on Mobile */
@media (max-width: 767px) {
  .logo-footer-1{
    display: none!important;
  }
  .datcauhoi {
    font-weight: 700!important;
    width: 50%!important;
    line-height: 60px!important;
    background: #079c0d!important;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center!important;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    z-index: 9999!important;
}
.datcauhoi a {
    color: #fff;
    display: block;
    font-size: 18px!important;
}
.box-muahang {
    font-weight: 700!important;
    width: 50%!important;
    line-height: 60px!important;
    background: #ff0000!important;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center!important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    z-index: 9999!important;
}
.box-muahang a {
    color: #fff!important;
    display: block!important;
    font-size: 18px!important;
}
}
</style-->
