<!-- SECTION IMAGE FULLSCREEN -->
<!--section class="parallax text-light fullscreen img-responsive" style="background: url('media/images/slider/anh-tra-hoa-binh-chi-12.jpg'); width: 100%" data-stellar-background-ratio="0.5">
	<div class="container container-fullscreen">
        <div class="text-middle text-center text-light">
            <h1 class="text-uppercase text-large">{{ site.name }}</h1>
            <p class="lead">
            	THANH LỌC MÁU - GIẢI ĐỘC GAN - GIẢM STRESS - NGỪA UNG THƯ<br>
            	TƯ VẤN MIỄN PHÍ<br>
            	<a href="tel:0939878282"><i class="fa fa-phone-square"></i> 093 987 8282</a>
            </p>
			<a href="tel:0939878282" class="btn">TƯ VẤN</a> <a class="btn">ĐẶT MUA</a>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

<!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-fullscreen arrows-large arrows-creative dots-creative" data-height-xs="360" data-autoplay="true" data-loop="true" data-autoplay-timeout="3500">

            <!-- Slide 1 -->
            <div class="slide kenburns" style="background-image:url('media/images/slider/Banner-Trahoa2.jpg');">
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <span class="strong">GIẢM STRESS - NGỪA UNG THƯ</span>
                        <a href="tel:0939878282" class="btn">TƯ VẤN</a> <a class="btn btn-light">ĐẶT MUA</a>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 1 -->
            
            <!-- Slide 2 -->
            <div class="slide kenburns" style="background-image:url('media/images/slider/Banner-Trahoa1.jpg');">
                <div class="container">
                    <div class="slide-captions text-center text-light">
                        <!-- Captions -->
                        <span class="strong">THANH LỌC MÁU - GIẢI ĐỘC GAN</span>
                        <a href="tel:0939878282" class="btn">TƯ VẤN</a> <a class="btn btn-light">ĐẶT MUA</a>
                        <!-- end: Captions -->
                    </div>
                </div>
            </div>
            <!-- end: Slide 2 -->

        

        </div>
        <!--end: Inspiro Slider -->