<!-- SECTION IMAGE FULLSCREEN -->
<section class="parallax text-light fullscreen" style="background: url('media/images/slider/anh-tra-hoa-binh-chi-29.jpg')" data-stellar-background-ratio="0.5">
	<div class="container container-fullscreen">
        <div class="text-middle text-center text-light">
            <h1 class="text-uppercase text-large">{{ site.name }}</h1>
            <p class="lead">
            	THANH LỌC MÁU - GIẢI ĐỘC GAN - GIẢM STRESS - SỨC KHỎE THỊNH VƯỢNG<br>
            	TƯ VẤN MIỄN PHÍ<br>
            	<a href="tel:0939878282"><i class="fa fa-phone-square"></i> 093 987 8282</a>
            </p>
			<a href="tel:0939878282" class="btn">TƯ VẤN</a> <a href="#" class="btn">ĐẶT MUA</a>
        </div>
    </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->

