/* 

1. Add your custom Css styles below
2. Place the this code in your template: 

 <link href="css/custom.css" rel="stylesheet">

*/


font-family: 'Pacifico', cursive;
font-family: 'Lobster', cursive;
font-family: 'Dancing Script', cursive;