<!DOCTYPE html>

<html dir="ltr" lang="vi-VN">

<head>

	{% include head.html %}

</head>

<body>

	{% include after_open_body.html %}
	
	<!-- Wrapper -->
    <div id="wrapper">

    	{% include topbar.html %}

		{% include header.html %}

		<!-- Page title -->
        <section id="page-title" data-parallax-image="{{ site.url }}/media/images/bg-bottom.jpg" style="opacity: 0.8">
			<div class="container" style="">
				<div class="page-title">
					<h1 style="color: #000">{{ page.title }}</h1>
					<span style="color: #000">{{ page.description }}</span>
				</div>
				<div class="breadcrumb">
					<ul>
						<li style="color: #000"><a href="{{ site.url }}">Home</a></li>
						<li class="active" style="color: #000"><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
					</ul>
				</div>
			</div>
		</section>
		<!-- end: Page title -->

		<!-- FULL WIDTH PAGE -->
		<section>
			<div class="container">

			{{ content }}

			</div>
		</section>
		<!-- end: FULL WIDTH PAGE -->

		{% include footer.html %}

    </div>
    <!-- end: Wrapper -->

	{% include footer_script.html %}

	{% include script.html %}


</body>

</html>
